<div class="bg-gray-800">
    <div class="flex justify-center min-h-screen items-center sm:px-20 md:px-40 lg:px-80 ">
        <div class="bg-white rounded w-full ">
            <div class="w-full h-full py-10">
                <form autocomplete="off" [formGroup]="formData">
                    <div class="flex flex-col gap-y-5 m-20">
                        <h1 class="mb-5 uppercase text-3xl font-bold  text-center">{{innerBody.heading}}</h1>
                        
                        <div class="relative">
                            <input formControlName='email'
                            [class.invalid]="formData.get('email')?.invalid && (formData.get('email')?.dirty || formData.get('email')?.touched || isSubmitted)" 
                                type="email" class="outline-none border border-gray-300  w-full px-4 py-3 rounded"
                                placeholder="Your Email" name="useremail" id="useremail">
                            <i class="fa fa-envelope absolute right-5 top-5" aria-hidden="true"></i>
                                                        <span
                                                            *ngIf="formData.get('email')?.invalid && (formData.get('email')?.dirty || formData.get('email')?.touched || isSubmitted)"
                                                            class="text-red-600" for="useremail">Enter valid email</span>

                        </div>
                        <div class="relative">
                            <input formControlName="password"
                            [class.invalid]="formData.get('password')?.invalid && (formData.get('password')?.dirty || formData.get('password')?.touched || isSubmitted)"
                                type="password" class="outline-none border border-gray-300  w-full px-4 py-3 rounded"
                                placeholder="Password" name="password" id="password">
                                                        <i *ngIf="isPasswordOpen" class="fa fa-eye absolute right-5 top-5 cursor-pointer" aria-hidden="true"
                                                            (click)="isPasswordManage()"></i>

                                                        <i *ngIf="isPasswordClose" class="fa fa-eye-slash absolute right-5 top-5 cursor-pointer" aria-hidden="true"
                                                            (click)="isPasswordManage()"></i>

                            <span
                                class="text-red-600" for="password"></span>
                        </div>
                    <div class="flex justify-end"><a (click)="isforPass()" class=" cursor-pointer underline"><span class="text-blue-600">Forget password</span></a></div>
                    </div>
                </form>
                <div class="flex justify-center px-20 mt-10 ">
                    <button type="submit"
                    [disabled]="(this.formData.get('email')?.invalid) || (this.formData.get('password')?.invalid)"
                    (click)="isBtnClick()"
                        class="text-white uppercase border-none bg-gradient-to-r from-violet-500 to-fuchsia-500 w-full rounded py-2 ">Login</button>
                </div>
            </div>
            <div class="my-10 text-center">
                <span>Register new  account?<a (click)="isClickA()"
                        class="font-bold underline  cursor-pointer">click here</a></span>
            </div>
        </div>
    </div>
</div>